<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
# Copyright (c) 2009, 2011 Wind River Systems, Inc. and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
# Doug Schaefer   (Wind River)     - initial API and implementation 
# Anna Dushistova (Mentor Graphics)- [329531][crossgcc] crossgcc fails to build a project
-->
<plugin>

   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
               <!-- ===== Additional Tools for secondary targets ================ -->

         <tool
               command="objcopy"
               commandLinePattern="arm-none-eabi-${COMMAND} ${FLAGS} ${OUTPUT_FLAG} ${OUTPUT_PREFIX}${OUTPUT}"
               id="crossex.managedbuild.xcross.tool.createflash"
               isAbstract="false"
               name="%tool.flash"
               natureFilter="both">
            <!-- enablement
                  type="ALL">
               <and>
                  <checkBuildProperty
                        property="org.eclipse.cdt.build.core.buildArtefactType"
                        value="org.eclipse.cdt.build.core.buildArtefactType.exe">
                  </checkBuildProperty>
                  <checkOption
                        holderId="crossex.managedbuild.xcross.toolchain.base"
                        optionId="crossex.managedbuild.xcross.option.addtools.createflash"
                        value="true">
                  </checkOption>
               </and>
            </enablement -->
            <inputType
                  id="crossex.managedbuild.xcross.createflash.input"
                  multipleOfType="true"
                  option="crossex.managedbuild.xcross.option.createflash.InFileName"
                  sources="elf">
            </inputType>
            <outputType
                  buildVariable="SECONDARY_FLASH"
                  id="crossex.managedbuild.xcross.createflash.output"
                  nameProvider="crossex.managedbuild.xcross.FlashImageManagedOutputNameProvider"
                  outputContentType="crossex.managedbuild.xcross.content-type.hex"
                  outputs="hex"
                  primaryOutput="false">
            </outputType>
            <optionCategory
                  id="crossex.managedbuild.xcross.optionCategory.createflash.general"
                  name="%optionCategory.general">
            </optionCategory>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.createflash.general"
                  id="crossex.managedbuild.xcross.option.createflash.choice"
                  name="%option.flash.outformat"
                  tip="Write the output file using the given object format."
                  valueType="enumerated">
               <enumeratedOptionValue
                     command="-O ihex"
                     id="crossex.managedbuild.xcross.option.createflash.choice.ihex"
                     isDefault="true"
                     name="%option.flash.outformat.ihex">
               </enumeratedOptionValue>
               <enumeratedOptionValue
                     command="-O srec"
                     id="crossex.managedbuild.xcross.option.createflash.choice.srec"
                     name="%option.flash.outformat.srec">
               </enumeratedOptionValue>
               <enumeratedOptionValue
                     command="-O symbolsrec"
                     id="crossex.managedbuild.xcross.option.createflash.choice.symbolsrec"
                     name="%option.flash.outformat.symbolsrec">
               </enumeratedOptionValue>
               <enumeratedOptionValue
                     command="-O binary"
                     id="crossex.managedbuild.xcross.option.createflash.choice.binary"
                     name="%option.flash.outformat.binary">
               </enumeratedOptionValue>
            </option>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.createflash.general"
                  command="-j .text"
                  id="crossex.managedbuild.xcross.option.createflash.textsection"
                  isAbstract="false"
                  name="%option.flash.textsections"
                  resourceFilter="all"
                  tip="Copy only the named section from the input file to the output file. This option may be given more than once."
                  valueType="boolean">
            </option>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.createflash.general"
                  command="-j .data"
                  id="crossex.managedbuild.xcross.option.createflash.datasection"
                  isAbstract="false"
                  name="%option.flash.datasections"
                  resourceFilter="all"
                  tip="Copy only the named section from the input file to the output file. This option may be given more than once."
                  valueType="boolean">
            </option>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.createflash.general"
                  command="-j "
                  id="crossex.managedbuild.xcross.option.createflash.othersection"
                  isAbstract="false"
                  name="%option.flash.othersections"
                  resourceFilter="all"
                  tip="Copy only the named section from the input file to the output file. This option may be given more than once."
                  valueType="stringList">
            </option>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.createflash.general"
                  id="crossex.managedbuild.xcross.option.createflash.other"
                  name="%option.flash.other"
                  valueType="string">
            </option>
            <option
                  id="crossex.managedbuild.xcross.option.createflash.InFileName"
                  resourceFilter="all"
                  value="&quot;${BuildArtifactFileName}&quot;"
                  valueType="string">
            </option>
         </tool>
         <tool
               command="objdump"
               commandLinePattern="arm-none-eabi-${COMMAND} ${FLAGS} ${OUTPUT_FLAG} ${OUTPUT_PREFIX}${OUTPUT}"
               id="crossex.managedbuild.xcross.tool.createlisting"
               isAbstract="false"
               name="%tool.listing"
               natureFilter="both"
               outputFlag="&gt;">
            <!-- enablement
                  type="ALL">
               <and>
                  <checkBuildProperty
                        property="org.eclipse.cdt.build.core.buildArtefactType"
                        value="org.eclipse.cdt.build.core.buildArtefactType.exe">
                  </checkBuildProperty>
                  <checkOption
                        holderId="crossex.managedbuild.xcross.toolchain.base"
                        optionId="crossex.managedbuild.xcross.option.addtools.createlisting"
                        value="true">
                  </checkOption>
               </and>
            </enablement -->
            <inputType
                  id="crossex.managedbuild.xcross.createlisting.input"
                  multipleOfType="true"
                  option="crossex.managedbuild.xcross.option.createlisting.InFileName"
                  sources="elf">
            </inputType>
            <outputType
                  buildVariable="SECONDARY_LIST"
                  id="crossex.managedbuild.xcross.createlisting.output"
                  outputNames="${BuildArtifactFileBaseName}.lst"
                  outputs="lst"
                  primaryOutput="false">
            </outputType>
            <optionCategory
                  id="crossex.managedbuild.xcross.optionCategory.createlisting.general"
                  name="%optionCategory.general">
            </optionCategory>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.createlisting.general"
                  command="--source"
                  id="crossex.managedbuild.xcross.option.createlisting.source"
                  isAbstract="false"
                  name="%option.listing.source"
                  resourceFilter="all"
                  tip="Display source code intermixed with disassembly, if possible. Implies -d."
                  valueType="boolean">
               <enablement
                     attribute="value"
                     type="CONTAINER_ATTRIBUTE"
                     value="true">
               </enablement>
            </option>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.createlisting.general"
                  command="--all-headers"
                  id="crossex.managedbuild.xcross.option.createlisting.allheaders"
                  isAbstract="false"
                  name="%option.listing.allheaders"
                  resourceFilter="all"
                  tip="Display all available header information, including the symbol table and relocation entries. Using -x is equivalent to specifying all of -a -f -h -p -r -t."
                  valueType="boolean">
               <enablement
                     attribute="value"
                     type="CONTAINER_ATTRIBUTE"
                     value="true">
               </enablement>
            </option>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.createlisting.general"
                  command="--demangle"
                  id="crossex.managedbuild.xcross.option.createlisting.demangle"
                  isAbstract="false"
                  name="%option.listing.demangle"
                  resourceFilter="all"
                  tip="Decode (demangle) low-level symbol names into user-level names. Besides removing any initial underscore prepended by the system, this makes C++ function names readable."
                  valueType="boolean">
               <enablement
                     attribute="value"
                     type="CONTAINER_ATTRIBUTE"
                     value="true">
               </enablement>
            </option>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.createlisting.general"
                  command="--debugging"
                  id="crossex.managedbuild.xcross.option.createlisting.debugging"
                  isAbstract="false"
                  name="%option.listing.debugging"
                  resourceFilter="all"
                  tip="Display debugging information. This attempts to parse STABS and IEEE debugging format information stored in the file and print it out using a C like syntax. If neither of these formats are found this option falls back on the -W option to print any DWARF information in the file."
                  valueType="boolean">
            </option>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.createlisting.general"
                  command="--disassemble"
                  id="crossex.managedbuild.xcross.option.createlisting.disassemble"
                  isAbstract="false"
                  name="%option.listing.disassemble"
                  resourceFilter="all"
                  tip="Display the assembler mnemonics for the machine instructions from objfile. This option only disassembles those sections which are expected to contain instructions."
                  valueType="boolean">
            </option>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.createlisting.general"
                  command="--file-headers"
                  id="crossex.managedbuild.xcross.option.createlisting.fileheaders"
                  isAbstract="false"
                  name="%option.listing.fileheaders"
                  resourceFilter="all"
                  tip="Display summary information from the overall header of each of the objfile files."
                  valueType="boolean">
            </option>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.createlisting.general"
                  command="--line-numbers"
                  id="crossex.managedbuild.xcross.option.createlisting.linenumbers"
                  isAbstract="false"
                  name="%option.listing.linenumbers"
                  resourceFilter="all"
                  tip="Label the display (using debugging information) with the filename and source line numbers corresponding to the object code or relocs shown. Only useful with -d, -D, or -r."
                  valueType="boolean">
               <enablement
                     attribute="value"
                     type="CONTAINER_ATTRIBUTE"
                     value="true">
               </enablement>
            </option>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.createlisting.general"
                  command="--reloc"
                  id="crossex.managedbuild.xcross.option.createlisting.reloc"
                  isAbstract="false"
                  name="%option.listing.reloc"
                  resourceFilter="all"
                  tip="Print the relocation entries of the file. If used with -d or -D, the relocations are printed interspersed with the disassembly."
                  valueType="boolean">
            </option>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.createlisting.general"
                  command="--syms"
                  id="crossex.managedbuild.xcross.option.createlisting.symbols"
                  isAbstract="false"
                  name="%option.listing.symbols"
                  resourceFilter="all"
                  tip="Print the symbol table entries of the file. This is similar to the information provided by the `nm&apos; program, although the display format is different. The format of the output depends upon the format of the file being dumped."
                  valueType="boolean">
            </option>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.createlisting.general"
                  command="--wide"
                  id="crossex.managedbuild.xcross.option.createlisting.wide"
                  isAbstract="false"
                  name="%option.listing.wide"
                  resourceFilter="all"
                  tip="Format some lines for output devices that have more than 80 columns. Also do not truncate symbol names when they are displayed."
                  valueType="boolean">
               <enablement
                     attribute="value"
                     type="CONTAINER_ATTRIBUTE"
                     value="true">
               </enablement>
            </option>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.createlisting.general"
                  id="crossex.managedbuild.xcross.option.createlisting.other"
                  name="%option.listing.other"
                  valueType="string">
            </option>
            <option
                  id="crossex.managedbuild.xcross.option.createlisting.InFileName"
                  resourceFilter="all"
                  value="&quot;${BuildArtifactFileName}&quot;"
                  valueType="string">
            </option>
         </tool>
         <tool
               command="size"
               commandLinePattern="arm-none-eabi-${COMMAND} ${FLAGS}"
               id="crossex.managedbuild.xcross.tool.printsize"
               isAbstract="false"
               name="%tool.size"
               natureFilter="both">
            <!-- enablement
                  type="ALL">
               <and>
                  <checkBuildProperty
                        property="org.eclipse.cdt.build.core.buildArtefactType"
                        value="org.eclipse.cdt.build.core.buildArtefactType.exe">
                  </checkBuildProperty>
                  <checkOption
                        holderId="crossex.managedbuild.xcross.toolchain.base"
                        optionId="crossex.managedbuild.xcross.option.addtools.printsize"
                        value="true">
                  </checkOption>
               </and>
            </enablement -->
            <inputType
                  id="crossex.managedbuild.xcross.printsize.input"
                  multipleOfType="true"
                  option="crossex.managedbuild.xcross.option.printsize.InFileName"
                  sources="elf">
            </inputType>
            <outputType
                  buildVariable="SECONDARY_SIZE"
                  id="crossex.managedbuild.xcross.printsize.output"
                  outputNames="${BuildArtifactFileBaseName}.siz"
                  outputs="siz"
                  primaryOutput="false">
            </outputType>
            <optionCategory
                  id="crossex.managedbuild.xcross.optionCategory.printsize.general"
                  name="%optionCategory.general">
            </optionCategory>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.printsize.general"
                  id="crossex.managedbuild.xcross.option.printsize.format"
                  name="%option.print.sizeFormat"
                  tip="Choose whether the output from gnu size resembles output from System V size (using -A, or --format=sysv), or Berkeley size (using -B, or --format=berkeley). The default is the one-line format similar to Berkeley&apos;s."
                  valueType="enumerated">
               <enumeratedOptionValue
                     command="--format=berkeley"
                     id="crossex.managedbuild.xcross.option.printsize.format.berkeley"
                     name="%option.print.sizeFormat.berkeley">
               </enumeratedOptionValue>
               <enumeratedOptionValue
                     command="--format=sysv"
                     id="crossex.managedbuild.xcross.option.printsize.format.sysv"
                     name="%option.print.sizeFormat.sysv">
               </enumeratedOptionValue>
               <enablement
                     attribute="value"
                     type="CONTAINER_ATTRIBUTE"
                     value="crossex.managedbuild.xcross.option.printsize.format.berkeley">
               </enablement>
            </option>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.printsize.general"
                  command="-x"
                  defaultValue="false"
                  id="crossex.managedbuild.xcross.option.printsize.hex"
                  name="%option.print.hex"
                  tip="The size of each section is given in hexadecimal."
                  valueType="boolean">
               <enablement
                     type="ALL">
                  <checkOption
                        holderId="crossex.managedbuild.xcross.tool.printsize"
                        isRegex="false"
                        optionId="crossex.managedbuild.xcross.option.printsize.format"
                        value="crossex.managedbuild.xcross.option.printsize.format.berkeley">
                  </checkOption>
               </enablement>
            </option>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.printsize.general"
                  command="--totals"
                  defaultValue="false"
                  id="crossex.managedbuild.xcross.option.printsize.totals"
                  name="%option.print.totals"
                  tip="Show totals of all objects listed (Berkeley format listing mode only). "
                  valueType="boolean">
            </option>
            <option
                  category="crossex.managedbuild.xcross.optionCategory.printsize.general"
                  id="crossex.managedbuild.xcross.option.printsize.other"
                  name="%option.print.other"
                  valueType="string">
            </option>
            <option
                  id="crossex.managedbuild.xcross.option.printsize.InFileName"
                  resourceFilter="all"
                  value="&quot;${BuildArtifactFileName}&quot;"
                  valueType="string">
            </option>
         </tool>
     
      <toolChain
            archList="all"
            configurationEnvironmentSupplier="org.eclipse.cdt.internal.build.crossgcc.CrossEnvironmentVariableSupplier"
            id="crossex.toolchain.gnu.xcross.base"
            isAbstract="false"
            languageSettingsProviders="crossex.crossgcc.CrossGCCBuiltinSpecsDetector"
            name="%toolChain.name"
            osList="all"
            targetTool="crossex.tool.gnu.xcross.c.linker;crossex.tool.gnu.xcross.cpp.linker;cdt.managedbuild.tool.gnu.archiver">
         <targetPlatform
               archList="all"
               binaryParser="org.eclipse.cdt.core.ELF"
               id="crossex.targetPlatform.gnu.xcross"
               isAbstract="false"
               osList="all">
         </targetPlatform>
         <builder
               id="crossex.builder.gnu.xcross"
               superClass="cdt.managedbuild.target.gnu.builder">
         </builder>
         <optionCategory
               id="crossex.optionCategory.gnu.xcross.settings"
               name="%optionCategory.name">
         </optionCategory>
         <option
               category="crossex.optionCategory.gnu.xcross.settings"
               id="crossex.option.gnu.xcross.prefix"
               isAbstract="false"
               name="%option.prefix"
               resourceFilter="all"
               valueType="string">
         </option>
         <option
               browseType="directory"
               category="crossex.optionCategory.gnu.xcross.settings"
               id="crossex.option.gnu.xcross.path"
               isAbstract="false"
               name="%option.path"
               resourceFilter="all"
               valueType="string">
         </option>
         <tool
               commandLinePattern="arm-none-eabi-${COMMAND} ${FLAGS} ${OUTPUT_FLAG}${OUTPUT_PREFIX}${OUTPUT} ${INPUTS}"
               id="crossex.tool.gnu.xcross.c.compiler"
               isAbstract="false"
               name="%tool.gcc.compiler"
               superClass="cdt.managedbuild.tool.gnu.c.compiler">
		  <option
			  superClass="gnu.c.compiler.option.dialect.std"
			  id="crossex.c.compiler.option.dialect.std" >
			  <enumeratedOptionValue
					  name="%Option.Posix.Dialect.default"
					  command=""
					  id="crossex.c.compiler.dialect.default">
			  </enumeratedOptionValue>
			  <enumeratedOptionValue
					  name="%Option.Posix.Dialect.c90"
					  command="-std=c90"
					  id="crossex.c.compiler.dialect.c90">
			  </enumeratedOptionValue>
			  <enumeratedOptionValue
					  name="%Option.Posix.Dialect.c99"
					  command="-std=c99"
					  id="crossex.c.compiler.dialect.c99">
			  </enumeratedOptionValue>
			  <enumeratedOptionValue
					  name="%Option.Posix.Dialect.c11"
					  command="-std=c11"
					  id="crossex.c.compiler.dialect.c11">
			  </enumeratedOptionValue>
			  <enumeratedOptionValue
					  name="%Option.Posix.Dialect.gnu99"
					  command="-std=gnu99"
					  id="crossex.c.compiler.dialect.gnu99">
			  </enumeratedOptionValue>
			  <enumeratedOptionValue
					  name="%Option.Posix.Dialect.gnu11"
					  command="-std=gnu11"
					  isDefault="true"
					  id="crossex.c.compiler.dialect.gnu11">
			  </enumeratedOptionValue>
		  </option>
		  <option
			  name="%Option.Posix.OptLevel"
			  category="gnu.c.compiler.category.optimization"
			  id="crossex.c.compiler.option.optimization.level"
			  superClass="gnu.c.compiler.option.optimization.level"
			  valueType="enumerated">
		  <enumeratedOptionValue
				  name="%Option.Posix.Optimize.None"
				  command="-O0"
				  id="crossex.c.compiler.optimization.level.none">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Posix.Optimize.Optimize"
				  command="-O1"
				  id="crossex.c.compiler.optimization.level.optimize">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Posix.Optimize.More"
				  isDefault="true"
				  command="-O2"
				  id="crossex.c.compiler.optimization.level.more">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Posix.Optimize.Most"
				  command="-O3"
				  id="crossex.c.compiler.optimization.level.most">
		  </enumeratedOptionValue>
          <enumeratedOptionValue
                  name="%Option.Posix.Optimize.Size"
                  command="-Os"
                  id="crossex.c.compiler.optimization.level.size">
          </enumeratedOptionValue>
          <enumeratedOptionValue
                  name="%Option.Posix.Optimize.Debug"
                  command="-Og"
                  id="crossex.c.compiler.optimization.level.debug"> 
          </enumeratedOptionValue>
		      <enablement 
              	type="CONTAINER_ATTRIBUTE" 
              	attribute="value" 
              	value="crossex.c.compiler.optimization.level.most"
              	extensionAdjustment="false">
			  	<checkBuildProperty 
			  		property="org.eclipse.cdt.build.core.buildType"
			  		value="org.eclipse.cdt.build.core.buildType.release"/>
			  </enablement>
              <enablement 
              	type="CONTAINER_ATTRIBUTE" 
              	attribute="value" 
              	value="crossex.c.compiler.optimization.level.none"
              	extensionAdjustment="false">
			  	<checkBuildProperty 
			  		property="org.eclipse.cdt.build.core.buildType"
			  		value="org.eclipse.cdt.build.core.buildType.debug"/>
			  </enablement>		  
              <enablement 
              	type="CONTAINER_ATTRIBUTE" 
              	attribute="value" 
              	value="crossex.c.compiler.optimization.level.debug"
              	extensionAdjustment="false">
			  	<checkBuildProperty 
			  		property="org.eclipse.cdt.build.core.buildType"
			  		value="org.eclipse.cdt.build.core.buildType.debug"/>
			  </enablement>		  
		  </option>
		  <option
			  defaultValue="true"
			  name="%Option.Posix.Optimize.NoExcp"
			  category="gnu.c.compiler.category.optimization"
			  command="-fno-exceptions"
			  id="crossex.c.compiler.option.optimization.no-exceptions"
			  valueType="boolean">
		  </option>
		  <option
			  defaultValue="true"
			  name="%Option.Posix.Optimize.SignedChar"
			  category="gnu.c.compiler.category.optimization"
			  command="-fsigned-char"
			  id="crossex.c.compiler.option.optimization.signed-char"
			  valueType="boolean">
		  </option>
		  <option
			  defaultValue="true"
			  name="%Option.Posix.Optimize.FSections"
			  category="gnu.c.compiler.category.optimization"
			  command="-ffunction-sections"
			  id="crossex.c.compiler.option.optimization.function-sections"
			  valueType="boolean">
		  </option>
		  <option
			  defaultValue="true"
			  name="%Option.Posix.Optimize.NoBuiltin"
			  category="gnu.c.compiler.category.optimization"
			  command="-fno-builtin"
			  id="crossex.c.compiler.option.optimization.no-builtin"
			  valueType="boolean">
		  </option>
		  <option
			  defaultValue="-c -fmessage-length=0 -mcpu=cortex-m0plus -mthumb"
			  id="crossex.c.compiler.option.misc.other"
			  superClass="gnu.c.compiler.option.misc.other">
		  </option>
         </tool>
         <tool
               commandLinePattern="arm-none-eabi-${COMMAND} ${FLAGS} ${OUTPUT_FLAG}${OUTPUT_PREFIX}${OUTPUT} ${INPUTS}"
               id="crossex.tool.gnu.xcross.cpp.compiler"
               isAbstract="false"
               name="%tool.gpp.compiler"
               defaultValue=""
               superClass="cdt.managedbuild.tool.gnu.cpp.compiler">
		<option
			  id="crossex.cpp.compiler.option.dialect.std"
			  superClass="gnu.cpp.compiler.option.dialect.std" >
			  <enumeratedOptionValue
					  name="%Option.Posix.Dialect.default"
					  command=""
					  id="crossex.cpp.compiler.dialect.default">
			  </enumeratedOptionValue>
			  <enumeratedOptionValue
					  name="%Option.Posix.Dialect.c++98"
					  command="-std=c++98"
					  id="crossex.cpp.compiler.dialect.c++98">
			  </enumeratedOptionValue>
			  <enumeratedOptionValue
					  name="%Option.Posix.Dialect.c++11"
					  command="-std=c++11"
					  id="crossex.cpp.compiler.dialect.c++11">
			  </enumeratedOptionValue>
			  <enumeratedOptionValue
					  name="%Option.Posix.Dialect.c++1y"
					  command="-std=c++1y"
					  id="crossex.cpp.compiler.dialect.c++1y">
			  </enumeratedOptionValue>
			  <enumeratedOptionValue
					  name="%Option.Posix.Dialect.gnu++0x"
					  command="-std=gnu++0x"
					  id="crossex.cpp.compiler.dialect.gnu++0x">
			  </enumeratedOptionValue>
			  <enumeratedOptionValue
					  name="%Option.Posix.Dialect.gnu++11"
					  command="-std=gnu++11"
					  isDefault="true"
					  id="crossex.cpp.compiler.dialect.gnu++11">
			  </enumeratedOptionValue>
			  <enumeratedOptionValue
					  name="%Option.Posix.Dialect.gnu++1y"
					  command="-std=gnu++1y"
					  id="crossex.cpp.compiler.dialect.gnu++1y">
			  </enumeratedOptionValue>
		  </option>
		  
			  <option
				  name="overridden syntax"
				  defaultValue="true"
				  id="y.gnu.cpp.compiler.option.warnings.syntax"
				  superClass="gnu.cpp.compiler.option.warnings.syntax">
			   </option>
			   
		  <option
			  name="%Option.Posix.OptLevel"
			  category="gnu.cpp.compiler.category.optimization"
			  id="crossex.cpp.compiler.option.optimization.level"
			  superClass="gnu.cpp.compiler.option.optimization.level"
			  valueType="enumerated">
		  <enumeratedOptionValue
				  name="%Option.Posix.Optimize.None"
				  command="-O0"
				  id="crossex.cpp.compiler.optimization.level.none">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Posix.Optimize.Optimize"
				  command="-O1"
				  id="crossex.cpp.compiler.optimization.level.optimize">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Posix.Optimize.More"
				  isDefault="true"
				  command="-O2"
				  id="crossex.cpp.compiler.optimization.level.more">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%Option.Posix.Optimize.Most"
				  command="-O3"
				  id="crossex.cpp.compiler.optimization.level.most">
		  </enumeratedOptionValue>
          <enumeratedOptionValue
                  name="%Option.Posix.Optimize.Size"
                  command="-Os"
                  id="crossex.cpp.compiler.optimization.level.size">
          </enumeratedOptionValue>
          <enumeratedOptionValue
                  name="%Option.Posix.Optimize.Debug"
                  command="-Og"
                  id="crossex.cpp.compiler.optimization.level.debug"> 
          </enumeratedOptionValue>
		      <enablement 
              	type="CONTAINER_ATTRIBUTE" 
              	attribute="value" 
              	value="crossex.cpp.compiler.optimization.level.most"
              	extensionAdjustment="false">
			  	<checkBuildProperty 
			  		property="org.eclipse.cdt.build.core.buildType"
			  		value="org.eclipse.cdt.build.core.buildType.release"/>
			  </enablement>
              <enablement 
              	type="CONTAINER_ATTRIBUTE" 
              	attribute="value" 
              	value="crossex.cpp.compiler.optimization.level.none"
              	extensionAdjustment="false">
			  	<checkBuildProperty 
			  		property="org.eclipse.cdt.build.core.buildType"
			  		value="org.eclipse.cdt.build.core.buildType.debug"/>
			  </enablement>		  
              <enablement 
              	type="CONTAINER_ATTRIBUTE" 
              	attribute="value" 
              	value="crossex.cpp.compiler.optimization.level.debug"
              	extensionAdjustment="false">
			  	<checkBuildProperty 
			  		property="org.eclipse.cdt.build.core.buildType"
			  		value="org.eclipse.cdt.build.core.buildType.debug"/>
			  </enablement>		  
		  </option>
		  <option
			  defaultValue="true"
			  name="%Option.Posix.Optimize.NoExcp"
			  category="gnu.cpp.compiler.category.optimization"
			  command="-fno-exceptions"
			  id="crossex.cpp.compiler.option.optimization.no-exceptions"
			  valueType="boolean">
		  </option>
		  <option
			  defaultValue="true"
			  name="%Option.Posix.Optimize.NoRTTI"
			  category="gnu.cpp.compiler.category.optimization"
			  command="-fno-rtti"
			  id="crossex.cpp.compiler.option.optimization.no-rtti"
			  valueType="boolean">
		  </option>
		  <option
			  defaultValue="true"
			  name="%Option.Posix.Optimize.SignedChar"
			  category="gnu.cpp.compiler.category.optimization"
			  command="-fsigned-char"
			  id="crossex.cpp.compiler.option.optimization.signed-char"
			  valueType="boolean">
		  </option>
		  <option
			  defaultValue="true"
			  name="%Option.Posix.Optimize.FSections"
			  category="gnu.cpp.compiler.category.optimization"
			  command="-ffunction-sections"
			  id="crossex.cpp.compiler.option.optimization.function-sections"
			  valueType="boolean">
		  </option>
		  <option
			  defaultValue="true"
			  name="%Option.Posix.Optimize.NoBuiltin"
			  category="gnu.cpp.compiler.category.optimization"
			  command="-fno-builtin"
			  id="crossex.cpp.compiler.option.optimization.no-builtin"
			  valueType="boolean">
		  </option>
		  <option
			  defaultValue="-c -fmessage-length=0 -mcpu=cortex-m0plus -mthumb"
			  id="crossex.cpp.compiler.option.other.other"
			  superClass="gnu.cpp.compiler.option.other.other">
		  </option>
			   
			   
         </tool>
         <tool
               commandLinePattern="arm-none-eabi-${COMMAND} ${FLAGS} ${OUTPUT_FLAG}${OUTPUT_PREFIX}${OUTPUT} ${INPUTS}"
               id="crossex.tool.gnu.xcross.c.linker"
               isAbstract="false"
               name="%tool.gcc.linker"
               superClass="cdt.managedbuild.tool.gnu.c.linker">
         </tool>
         <tool
               commandLinePattern="arm-none-eabi-${COMMAND} ${FLAGS} ${OUTPUT_FLAG}${OUTPUT_PREFIX}${OUTPUT} ${INPUTS}"
               id="crossex.tool.gnu.xcross.cpp.linker"
               isAbstract="false"
               name="%tool.gpp.linker"
               superClass="cdt.managedbuild.tool.gnu.cpp.linker">
         <option
               defaultValue="true"
               id="crossex.cpp.link.option.nostart"
               superClass="gnu.cpp.link.option.nostart" >
         </option>
         <option
               defaultValue="true"
               name="%Option.Posix.Linker.GCSections"
               category="gnu.cpp.link.category.options"
               command="-Xlinker --gc-sections"
               id="crossex.cpp.link.option.gcsections"
               valueType="boolean">
         </option>
         <option
               category="gnu.cpp.link.category.options"
               id="crossex.cpp.link.option.scriptfile"
               isAbstract="true"
               name="%option.linker.scriptfile"
               valueType="stringList">
         </option>
 
         </tool>
         <tool
               commandLineGenerator="org.eclipse.cdt.internal.build.crossgcc.CrossCommandLineGenerator"
               id="crossex.tool.gnu.xcross.assembler"
               isAbstract="false"
               name="%tool.gcc.assembler"
               superClass="cdt.managedbuild.tool.gnu.assembler">
         </tool>
         <tool
               id="crossex.tool.gnu.xcross.objcopy"
               superClass="crossex.managedbuild.xcross.tool.createflash">
         </tool>
         <tool
               id="crossex.tool.gnu.xcross.objdump"
               superClass="crossex.managedbuild.xcross.tool.createlisting">
         </tool>
         <tool
               id="crossex.tool.gnu.xcross.size"
               superClass="crossex.managedbuild.xcross.tool.printsize">
         </tool>
         
      </toolChain>
	     <projectType
	        buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
	        id="crossex.target.gnu.xcross.exe"
	        isAbstract="false"
	        isTest="false"
	        >                                  
	     <configuration
	           name="Debug"
	           cleanCommand="rm -rf"
	           id="crossex.config.gnu.xcross.exe.debug"
	           parent="cdt.managedbuild.config.gnu.base"
	           buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug">
	           <toolChain
	           		 secondaryOutputs="crossex.managedbuild.xcross.createflash.output;crossex.managedbuild.xcross.createlisting.output;crossex.managedbuild.xcross.printsize.output"
	           		 superClass="crossex.toolchain.gnu.xcross.base"
	                 id="crossex.toolchain.gnu.xcross.exe.debug">
	           </toolChain>                                   
	     </configuration>
	     <configuration
	           name="Release"
	           cleanCommand="rm -rf"
	           id="crossex.config.gnu.xcross.exe.release"
	           parent="cdt.managedbuild.config.gnu.base"
	           buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release">
	           <toolChain
	           		 secondaryOutputs="crossex.managedbuild.xcross.createflash.output;crossex.managedbuild.xcross.createlisting.output;crossex.managedbuild.xcross.printsize.output"
	                 superClass="crossex.toolchain.gnu.xcross.base"
	                 id="crossex.toolchain.gnu.xcross.exe.release">
	           </toolChain>                                                     
	     </configuration>
	  </projectType>              
	     
	  <projectType
	        buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.sharedLib"
	        id="crossex.target.gnu.xcross.so"
	        isAbstract="false"
	        isTest="false"
	        >            
	     <configuration
	           name="Debug"
	           cleanCommand="rm -rf"
	           parent="cdt.managedbuild.config.gnu.base"
	           buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
	           id="crossex.config.gnu.xcross.so.debug">
	           <toolChain
	                 superClass="crossex.toolchain.gnu.xcross.base"
	                 id="crossex.toolchain.gnu.xcross.so.debug">
	           </toolChain>                                                     
	     </configuration>
	     <configuration
	           name="Release"
	           cleanCommand="rm -rf"
	           parent="cdt.managedbuild.config.gnu.base"
	           buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
	           id="crossex.config.gnu.xcross.so.release">               
	           <toolChain
	                 superClass="crossex.toolchain.gnu.xcross.base"
	                 id="crossex.toolchain.gnu.xcross.so.release">
	           </toolChain>                                                                                
	     </configuration>
	  </projectType>
	                   
	  <projectType
	        buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.staticLib"
	        id="crossex.target.gnu.xcross.lib"
	        isAbstract="false"
	        isTest="false"
	        >            
	     <configuration
	           name="Debug"
	           parent="cdt.managedbuild.config.gnu.base"
	           buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
	           cleanCommand="rm -rf"
	           id="crossex.config.gnu.xcross.lib.debug">
	           <toolChain
	                 superClass="crossex.toolchain.gnu.xcross.base"
	                 id="crossex.toolchain.gnu.xcross.lib.debug">
	           </toolChain>                                                                                				               				  
	     </configuration>
	     <configuration
	           name="Release"
	           parent="cdt.managedbuild.config.gnu.base"
	           buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
	           cleanCommand="rm -rf"
	           id="crossex.config.gnu.xcross.lib.release">
	           <toolChain
	                 superClass="crossex.toolchain.gnu.xcross.base"
	                 id="crossex.toolchain.gnu.xcross.lib.release">
			</toolChain>                                                                                				                    
         </configuration>         
      </projectType>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templateAssociations">
      <template
            id="org.eclipse.cdt.build.core.templates.HelloWorldCAnsiProject">
         <toolChain
               id="crossex.toolchain.gnu.xcross.base">
         </toolChain>
      </template>
      <template
            id="org.eclipse.cdt.build.core.templates.HelloWorldCCProject">
         <toolChain
               id="crossex.toolchain.gnu.xcross.base">
         </toolChain>
      </template>
      <template
            id="com.sevenwatt.templates.LPC8xxHelloWorld">
         <toolChain
               id="crossex.toolchain.gnu.xcross.base">
         </toolChain>
      </template>
      <template
            id="com.sevenwatt.templates.LPC8xxMulti">
         <toolChain
               id="crossex.toolchain.gnu.xcross.base">
         </toolChain>
      </template>
   </extension>
   <extension
         point="org.eclipse.cdt.managedbuilder.ui.newWizardPages">
      <wizardPage
            ID="crossex.crossgcc.setcCrossCommandWizardPage"
            operationClass="org.eclipse.cdt.internal.build.crossgcc.SetCrossCommandOperation"
            pageClass="org.eclipse.cdt.internal.build.crossgcc.SetCrossCommandWizardPage">
         <toolchain
               toolchainID="crossex.toolchain.gnu.xcross.exe.debug">
         </toolchain>
         <toolchain
               toolchainID="crossex.toolchain.gnu.xcross.exe.release">
         </toolchain>
         <toolchain
               toolchainID="crossex.toolchain.gnu.xcross.so.debug">
         </toolchain>
         <toolchain
               toolchainID="crossex.toolchain.gnu.xcross.so.release">
         </toolchain>
         <toolchain
               toolchainID="crossex.toolchain.gnu.xcross.lib.debug">
         </toolchain>
         <toolchain
               toolchainID="crossex.toolchain.gnu.xcross.lib.release">
         </toolchain>
      </wizardPage>
   </extension>
   <extension
         point="org.eclipse.cdt.core.LanguageSettingsProvider">
      <provider
            class="org.eclipse.cdt.managedbuilder.language.settings.providers.GCCBuiltinSpecsDetector"
            id="crossex.crossgcc.CrossGCCBuiltinSpecsDetector"
            name="%CrossGCCBuiltinSpecsDetector.name"
            parameter="arm-none-eabi-${COMMAND} ${FLAGS} -E -P -v -dD &quot;${INPUTS}&quot;"
            prefer-non-shared="true">
         <language-scope id="org.eclipse.cdt.core.gcc"/>
         <language-scope id="org.eclipse.cdt.core.g++"/>
      </provider>
   </extension>
</plugin>
